# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  # All Vagrant configuration is done here. The most common configuration
  # options are documented and commented below. For a complete reference,
  # please see the online documentation at vagrantup.com.

  Vagrant.require_plugin "vagrant-rackspace"
  config.vm.box = "dummy" # don't change this value, this is legit
  config.ssh.private_key_path = "/tmp/id_rsa" # change me

  config.vm.provider :rackspace do |rs|
    rs.username = "racker" # change me
    rs.api_key  = "b1f5fffffffff99999900000839f" # change me
    rs.flavor   = /512/
    rs.image    = /CentOS 6.4/
    rs.public_key_path = "/tmp/id_rsa.pub" # change me
    rs.server_name = "testdns"
    rs.rackspace_region = :iad
  end

  config.omnibus.chef_version = :latest

  config.vm.provision :chef_solo do |chef|
    chef.json = {
      :mysql => {
        :server_root_password => 'rootpass',
        :server_debian_password => 'debpass',
        :server_repl_password => 'replpass'
      }
    }

    chef.run_list = [
        "recipe[rax_web_app::default]"
    ]
  end
end
